/* Add your custom styles here */
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

nav {
    background-color: white;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.hero-section {
    background-color: white;

}

.about-us-section,
.projects-section,
.get-involved-section,
.contact-us-section {
    padding: 80px 0;
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 0px;
}

nav {
    border-bottom: 2px solid black;
}


#logo {
    width: 25%;
    height: 25%;
    margin-left: 40px;
    margin-top: 10px;

}

#links {
    color: #000;
    text-align: center;
    font-family: Cabin;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 12px;
    margin: 10px;
}

h1 {
    padding-top: 50px;
    text-align: center;
    ;
}

h2 {
    color: #000;
    text-align: center;
    font-family: Content;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 20px;

}


#button3 {
    display: flex;
    width: 132px;
    height: 48px;
    padding: 24px 71px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 3px solid #000;
    background: var(--Login-Register-btn-colour, #00F418);
    text-align: center;
    margin: 0 auto
}

#button3 a,
#button4 a,
#button5 a {
    color: var(--text-colour-2, #00230A);
    text-align: center;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.container2,
.container3,
.container4 {

    text-align: left;
    border-radius: 50px;
    border: 3px solid #000;
    background: var(--Theme-colour, #6AFF8B);
    padding-bottom: 20px;

    flex-shrink: 0;

}

.container2 h3 {
    color: #000;
    font-family: Content;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#button4,
#button5 {
    display: flex;
    width: 132px;
    height: 48px;
    padding: 24px 71px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 3px solid #000;
    background: var(--Login-Register-btn-colour, white);
    text-align: center;
    margin: 0 auto
}


#button3 a:hover,
#button4 a:hover,
#button5 a:hover {
    text-decoration: none;
    font-size: 25px;
}

#links:hover {
    color: #545353;
}

iframe {
    margin-top: 105px;
}

h5 a {
    text-decoration: underline;
}

h5 {
    font-weight: 1000;
    color: #504f4f;
}

#btn1 {
    align-items: center;
    background-color: red;
    border-radius: 6px;
    padding: 15px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 20px;
    border-color: white;
    margin-top: 40px;
}

#btn1 a {
    align-items: center;
    color: white;
    text-decoration: none;
}

#btn1 a:hover {

    color: black;
}





#flipboxfront,
#flipboxback {
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    min-height: 475px;
    -ms-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-transition: transform 0.7s cubic-bezier(.4, .2, .2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


#flipboxfront {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flipbox:hover #flipboxfront {
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#flipboxback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.flipbox:hover #flipboxback {
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#myCarousel {
    margin-bottom: 50px;
}



.bs-example {
    margin-top: 10%;
}

.bs-example2 {
    margin-top: 1.5em;
    font-weight: bold;
    font-size: 1.25em;
    color: #FFF;
    text-shadow: 1.25px 1px #25282a;
}